{% load i18n %}
<header>
    <div class="logotype-navigation">
        <section class="logotype">
            <a href="{% url "news" %}" style="display: none;">MW</a> {% comment %}TODO: Add logotype.{% endcomment %}
            <a href="{% url "news" %}">KENNEL MESSENGER DOG</a>
        </section>
        <nav>
            <a class="{% if request.path == "/" or request.path == "/ridgerunner_app/" %}current{% endif %}" href="{% url "news" %}">{% translate "News"|upper %}</a>
            <a class="{% if "/ridgerunner_app/dogs/" in request.path %}current{% endif %}" href="{% url "dogs" %}">{% translate "Dogs"|upper %}</a>
            <a class="{% if request.path == "/ridgerunner_app/puppies/" %}current{% endif %}" href="{% url "puppies" %}">{% translate "Puppies"|upper %}</a>
            <a class="{% if "/ridgerunner_app/litters/" in request.path %}current{% endif %}" href="{% url "litters" %}">{% translate "Litters"|upper %}</a>
            <a class="{% if request.path == "/ridgerunner_app/about_us/" %}current{% endif %}" href="{% url "about_us" %}">{% translate "About us"|upper %}</a>
            <a class="{% if request.path == "/ridgerunner_app/contact_us/" %}current{% endif %}" href="{% url "contact_us" %}">{% translate "Contact us"|upper %}</a>
        </nav>
    </div>
    <div class="title">
        <section>
            {% if url_of_previous_page != None and title_of_previous_page != None %}
                <a href="{{ url_of_previous_page }}" id="previousPage">{{ title_of_previous_page|upper }}</a>
            {% endif %}
            <h1>{{ title|upper }}</h1>
        </section>
    </div>
</header>
