#second-page > .container {
    display: grid;
    grid-template-columns: max-content max-content 1fr var(--g-biggest) 1fr;
    grid-template-rows: repeat(auto-fill, max-content);

    > #filter-titles {
        align-items: center;
        display: grid;
        grid-column: span 5;
        grid-row: 1 / 2;
        grid-template-columns: max-content var(--g-bigger) max-content;
        grid-template-rows: repeat(auto-fill, max-content);
        padding-bottom: var(--g-bigger);

        label {
            font-family: 'Roboto Mono';
            font-size: var(--f-smallest);
            font-weight: 600;
        }

        > label:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-bottom: var(--g-small);
        }

        > select:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        > .exclusive-container {
            align-items: center;
            column-gap: var(--g-small);
            display: flex;
            flex-direction: row;
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    }

    > .list-heading {
        font-family: 'Roboto Mono';
        font-size: var(--f-smallest);
        font-weight: 600;
        grid-row: 2 / 3;
        letter-spacing: 1px;
        padding-bottom: var(--g-big);

        &:nth-child(2) {
            grid-column: 1 / 2;
            padding-right: var(--g-bigger);
        }

        &:nth-child(3) {
            grid-column: 2 / 6;
        }
    }

    > .content {
        display: grid;
        grid-column: 1 / 4;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(auto-fill, max-content);

        > .placement {
            font-family: 'Roboto Mono';
            font-weight: 600;
            grid-column: 1 / 2;
            grid-row: span 2;
            padding-top: var(--g-small);
            padding-right: var(--g-bigger);
            padding-bottom: var(--g-small);
            text-align: right;
        }

        > .number_of_titles {
            grid-column: 2 / 3;
            padding-top: var(--g-small);
            padding-right: var(--g-bigger);
            padding-bottom: var(--g-small);
        }

        > .titles {
            column-gap: var(--g-big);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; // Wraps the titles onto a new row.
            grid-column: 3 / 4;
            padding-top: var(--g-small);
            padding-right: var(--g-small);
            padding-bottom: var(--g-small);
            row-gap: var(--g-smallest); // If the titles are wrapped onto a new row.

            > li {
                white-space: nowrap; // Protects the titles from being line breaked.
            }
        }

        > .registration_number {
            font-weight: 600;
            grid-column: 2 / 3;
            padding-right: var(--g-bigger);
            padding-bottom: var(--g-small);
        }

        > .kennel_name {
            grid-column: 3 / 4;
            padding-right: var(--g-small);
            padding-bottom: var(--g-small);
        }

        > .empty {
            grid-column: 1 / 4;
        }

        > #load-titles {
            display: grid;
            grid-column: 1 / 4;
            grid-template-columns: subgrid;
            // scroll-margin-top: ;

            > button:not([hidden]) {
                display: grid;
                grid-column: 1 / 4;
                grid-template-columns: subgrid;
                padding-top: var(--g-small);
                padding-bottom: var(--g-small);

                &:hover {
                    background-color: var(--c-green-light);
                    transition: background-color var(--t-short);
                }

                &[even] {
                    background-color: var(--c-green-light);

                    &:hover {
                        background-color: var(--c-gray-light);
                    }
                }

                > p {
                    font-family: 'Roboto Mono';
                    font-size: var(--f-smallest);
                    font-weight: 600;
                    grid-column: 3 / 4;
                    letter-spacing: 1px;
                }
            }
        }

    }

    > .heading-desktop {
        grid-column: 5 / 6;
        grid-row-start: 3;
        // grid-row-end: ;
    }

    > .heading-mobile {
        grid-column: span 5;
        grid-row: 1 / 2;
        padding-bottom: var(--g-bigger);
    }
}

@media (max-width: 900px) {

    #second-page > .container {

        > #filter-titles {
            grid-row: 2 / 3;
            grid-template-columns: max-content;
            padding-bottom: var(--g-bigger);

            > select:nth-child(3) {
                margin-bottom: var(--g-big);
            }

            > .exclusive-container {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }

        > .list-heading {
            grid-row: 3 / 4;

            &:last-child {
                grid-column: 2 / 6;
            }
        }

        > .content {
            grid-column: span 5;

            > .titles, > .kennel_name {
                grid-column: 3 / 6;
            }

            > .empty {
                grid-column: span 5;
            }

            > #load-titles {
                grid-column: span 5;

                > button:not([hidden]) {
                    grid-column: span 5;

                    > p {
                        grid-column: 2 / 6;
                    }
                }
            }
        }
    }
}
