<html lang="se">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        {% load i18n %}
        {% load filters %}
        <link rel="stylesheet" href="{% static "ridgerunner_app/css/about_us.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script:400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:600">
    </head>



    <body>
        {% translate "About us" as title %}
        {% include "./components/header.html" with title=title %}



        <main>
            {% comment %}<div class="card image"><img src="{% static "ridgerunner_app/assets/images/Us.jpg" %}" alt=""></div>{% endcomment %}

            <div class="card">
                <section class="content">
                    <p>{% translate "This page is under development." %}</p>
                    {% comment %}<p>
                        Kenneln drivs av mor och dotter, Marita och Mina Teräs.
                        Vi bor i en villa i Gnesta, någon timme söder om Stockholm, tillsammans med våra 5 hundar (två rhodesian ridgebacks, två border collies och en vorsteh) som alla är tikar.
                        Vi båda är aktiva inom Gnesta-Trosa Brukshundklubb (GTBK) och tränar/tävlar både i lydnad och bruks. I brukset brinner Marita för söket medan Mina satsar på rapporten. Marita har därutöver ett intresse för specialsök.
                        Marita har haft hund, av en mängd olika raser, i över 40 år. Minas första hund är ridgebacken Heera, som vi hoppas ska bli mamma till kennelns första kull.
                    </p>
                    <p>
                        Tanken om att starta en kennel kom med Heera, i takt med att hon växte upp och vi fick uppleva vilken snäll och trygg individ hon är.
                        Inte blev vi mindre sugna när Heera började visa framfötterna ute på tävlingsbanorna och började samla på sig meriter inom hundsport.
                        I och med att vi båda själva har hundsport som största intresse är det viktigt att våra hundar delar det intresset.
                    </p>
                    <p>
                        Vårt mål är att föda upp friska och glada hundar.
                        Kort och gott hundar som vill vara aktiva och som lämpar sig för hundsport.
                        Som de flesta seriösa uppfödare strävar vi efter att avla fram hundar som är sociala, trygga och nyfikna.
                        Det som särskiljer oss är att vi samtidigt kommer lägga stort engagemang och fokus på att ta fram lättbelönade hundar; lekfulla hundar med stor matdrift.
                        Detta på grund av att en lättbelönad hund också är betydligt lättare att träna.
                        Exteriört vill vi ta fram rastypiska hundar, men som är av en lättare och nättare - "sportigare" - typ.
                        Inom hundsporten finns det inget att vinna för stora och kraftiga hundar.
                        Ju tyngre hunden är, desto mer påfrestningar utsätts kroppen för.
                        Flera grenar och moment kräver hög fart och explositivitet i form av snabba stopp och vändningar.
                        För att en tung hund ska uppnå samma nivå som en lättare hund i de momenten måste den kämpa betydligt hårdare.
                    </p>{% endcomment %}
                </section>
            </div>

            <div class="sidebar">
                <section>
                    <h1>{% translate "Our requirements for breeding"|upper %}</h1>
                    <p>{% translate "We follow the requirements and recommendations of the Swedish Kennel Club (SKK) and the Swedish Rhodesian Ridgeback Club (SRRS) when it comes to breeding. In addition, we've a couple of our own requirements." %}</p>
                    <ul>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "The dog must be healthy." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "The dog must have x-rayed hips (HD) and elbows (ED) with HD A, B, or C and ED 0. Read the breed club's rules regarding the use of HD C" %} <a href="http://www.srrs.org/srrs/avel/tjanster/valphanvisning" target="_blank">{% translate "here" %}</a>.</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "The dog must be at least 30 months old at the time of mating." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "The dog, if Swedish-owned, must be mentally tested (BPH and/or MH) with a, in our opinion, desirable result that we consider to be suitable for dog sports." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "The dog must be trained (and preferably compete) actively in some dog sport. Our own females must also have competition merits." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "The dog must be of a sporty build. The breed standard recommends a weight of around 36,5 kg for males and 32 kg for females." %}</p>
                        </li>
                    </ul>
                </section>
                <section>
                    <h1>{% translate "What you get when you buy a puppy from us"|upper %}</h1>
                    <p>{% translate "When the puppies are delivered, they are dewormed, vaccinated and ID marked. Along with the puppy you also get..." %}</p>
                    <ul>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "A pedigree from SKK." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "A purchase agreement from SKK." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "An inspection certificate from a veterinarian that is no older than 7 days." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "Insurance for latent defects valid for 3 years at Folksam." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "A membership in the Swedish Rhodesian Ridgeback Club (SRRS) valid for 1 year." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "A promise that you as a puppy buyer are always welcome to contact us with questions and concerns." %}</p>
                        </li>
                    </ul>
                </section>
                <section>
                    <h1>{% translate "Our expectations on you as a puppy buyer"|upper %}</h1>
                    <ul>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "That you'll spend time with your dog and mentally stimulate it in some form. You don't have to be interested in competing, but considering our breeding goals, we of course appreciate if you have competition ambitions!" %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "That you'll x-ray your dog's hips (HD) and elbows (ED) when it's between 12-18 months old." %}</p>
                        </li>
                        <li>
                            <div class="bullet"></div>
                            <p>{% translate "That you participate with the dog in the mental test (BPH) that we organize for the litter." %}</p>
                        </li>
                    </ul>
                </section>
            </div>
        </main>



        {% include "./components/footer.html" %}
    </body>
</html>
