<div class="page odd" id="first-page">
    <section class="title">
        <h2>SVENSKA</h2>
        <h1>ARBETANDE</h1>
        <h2>RHODESIAN RIDGEBACKS</h2>
    </section>
    <section class="description">
        <p>Upplev våra svenska* representanter för rasens arbetande hundar.</p>
        <p>
            Syftet med den här sidan är att lyfta fram och hylla de individer som presterat i hundsport, men också de kennlar som föder upp hundar med arbetsegenskaper.
            Förhoppningsvis kan sidan bidra till att uppfödare får upp ögonen för nya hundar och linjer, för att på så sätt både bevara den genetiska mångfalden och rasens arbetsegenskaper.
        </p>
        <p>
            Datan som projektet bygger på kommer från SKK Avelsdata och SKK Hunddata och sträcker sig tillbaka till {{ year }}.
            Sidan ska därför kunna ge en bra bild över de {{ interval }} senaste åren.** I nedre vänstra hörnet ser du datum för när datan senast uppdaterades.
        </p>
        <p>* Notera att det förekommer utlandsfödda hundar i statistiken. Dels genom importerade hundar som erhållit svenskt registreringsnummer och dels genom utländska hundar som rest till Sverige för att tävla.</p>
        <p>** Observera att enstaka resultat kan saknas på grund av begränsningar i kennelklubbens verktyg. Hör gärna av dig via det här <a href="{% url "contact_us" %}" target="_blank">kontaktformuläret</a> om du upptäcker något som saknas, så kan jag lägga till det manuellt.</p>
        <p>{{ date }}</p>
    </section>
</div>
